.content-slide-wrapper{
	position: relative;
	height: 840px;
	width: 100%;
	/*overflow: hidden;*/
	padding: 0;
	margin-bottom: 80px !important;
}

.content-slide{
	position: absolute;
	height: 100%;
	width: 300%;
}

#home{
	
}

#informacion{
	
}

#contacto{
	color: #009688;
	background-color: #F7F7F7;

}

.content-slide-item{
	/*padding: 40px;*/
	height: 100%;
	width: 33.333%;
	float: left;
	
}

.contact-form{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top:24px;
	padding-left: 40px;
}

.contact-step.active{
	
}

.contact-step{
	position: absolute;
	padding: 0 !important; 
	margin-top: 50px;
}
