.navbar-default {
  background-color: #009688;
  border-radius: 0px;
  border-color: #009688 !important;
  box-shadow: 2px 2px 2px #888888;
}

.navbar-brand {
  height: 95px !important;
}

.navbar-brand img {
  width: 160px;
  padding: 10px;
}

.navbar-collapse ul {
  margin-top: 40px !important;
}

.navbar-collapse ul li a {
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: #F7F7F7;
}

main form {
  background-color: #CCE1FA;
  padding: 50px;
  box-shadow: 2px 2px 2px #888888;
}
