$first-color: #009688;
*{
	font-family: 'Open Sans', sans-serif;
}

.navbar-default{
	
	 
    background-color: #009688 !important;
	border-radius: 0px !important;
	border-color: $first-color !important;
	box-shadow: 2px 2px 2px #888888;
	margin-bottom:  0px !important
	;


}

.navbar-brand{
	height: 95px !important;
	
	img{
		width: 160px;
		padding: 10px;
	}
}
.navbar-collapse{
	ul{
		margin-top: 40px !important;

		li{

			a{
				
				
			}
		}
		li:hover{
			box-shadow: 0px 2px 2px #065444;
		}
	}
}
.navbar-default .navbar-nav>li>a{
	color: white !important;
	font-weight: bold;
	font-size: 15px;
}

.head-banner{
	background-color: white;
	padding: 0px !important;
	
	h2{
		//display: inline-block;
		font-weight: bold;
		color: white;
		position: absolute;
		z-index: 1;



	}
	figure{
		


		img{
			
			width: 100%;
			
		}
	}
}
main{
	.cotizador{
		height: 816px;
	}
	.content-slide-wrapper{
		
	}
	.form-row{

		border: 1px dashed #CACACA;
		color: #009688 !important;
		font-weight: bold;
		font-size: 16px;
		margin: 50px 0px 0px 0px;

	}
	padding: 20px;
	background-color: #F7F7F7;
	form{
		background-color: white;
		padding-top: 24px;
		//box-shadow: 2px 2px 2px #888888;
		
	}
}
/*
.content-slide-item{
	h1{
		margin-left: 24px;
	}
	p{
		margin-left: 24px;
	}
}*/

footer{
	div{
		
		figure{
			text-align: center;
			img{
				width: 280px;
			}
		}
		span{
			color: white;
			font-size: 30px !important;
			font-weight: bold;
			margin-right: 5px;
		}
	}
}